body {
    font-family: Arial, sans-serif;
    background-color: #f7f6f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.translation-section {
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 20px;
    gap: 2.5rem;
}

.input-section,
.output-section {
    width: 48%;
}

.output-section{
    margin-right: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.language-select {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-select label {
    margin-right: 10px;
    font-weight: bold;
}

.language-select select {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

#translate-button {
    background-color: #007BFF;
    color: white;
}

#translate-button:hover {
    background-color: #0056b3;
}

